.password-strength {
    margin-block-start: var(--space-xs);
    display: none;

    &.is_active {
        display: block;
    }
}

.meter-fill {
    display: block;
}

.password-strength .meter-fill.total-low {
    .low {
        fill: var(--surface-critical);
    }

    .medium,
    .high,
    .veryhigh {
        fill: var(--surface-secondary);
    }
}

.password-strength .meter-fill.total-medium {
    .low,
    .medium {
        fill: var(--surface-warning);
    }

    .high,
    .veryhigh {
        fill: var(--surface-secondary);
    }
}

.password-strength .meter-fill.total-high {
    .low,
    .medium,
    .high {
        fill: var(--surface-success);
    }

    .veryhigh {
        fill: var(--surface-secondary);
    }
}

.password-strength .meter-fill.total-veryhigh {
    .low,
    .medium,
    .high,
    .veryhigh {
        fill: var(--surface-success-high);
    }
}

.password-strength .meter-fill {
    .low,
    .medium,
    .high,
    .veryhigh {
        transition: var(--transition-m) fill ease;
    }
}

.password-strength .status-text {
    display: block;
    text-align: end;
    block-size: 16px;
    margin-block-start: var(--space-xs);
}