.social-nav {
    grid-area: s;
    display: flex;
    gap: var(--grid-gap);

    @media (--mobile) {
        justify-content: center;
    }
}

.social-nav a {
    display: grid;
    inline-size: 36px;
    block-size: 36px;
    border-radius: var(--br-l);
    background-color: var(--c-grey-1000);
    transition: var(--transition-s) background-color ease;
    place-content: center;

    path {
        fill: var(--c-grey-0);
        transition: var(--transition-s) fill ease;
    }

    &:hover,
    &:focus {
        background-color: var(--surface-brand);
    }
}

.social-nav a .icon {
    inline-size: auto;
    block-size: 28px;
}